@model IEnumerable<Zero.Models.User>
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">


    <!-- Bootstrap CSS -->
    <link href="~/css/yourstyle.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <title>Hello, world!</title>
</head>
<body style="background-color: #cceae0;">

    <div class="container" style="background-color: white;margin-top: 60px;width: 100%;height: 560px;">


        @{ await Html.RenderPartialAsync("_GetNavBar");}


        <h1 style="
    color: #419d7f;
    text-decoration: underline;
">
            Личный кабинет
        </h1>
        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-4">
                <nav class="navbar bg-light" style="
    padding: 0;
    background-color: white!important;
    border: 1.4px solid #644a72;
    border-radius: 13px;
    width: 80%;
">

                    <!-- Links -->
                    <ul class="nav flex-column" style="
    width: 100%;
">
                        <li class="nav-item" style="
    border-bottom: 1.4px solid #644a72;
">
                            <a class="nav-link" asp-action="ListCheak" asp-controller="Сheck">Чеки</a>
                        </li>
                        <li class="nav-item" style="
    border-bottom: 1.4px solid #644a72;
">
                            <a class="nav-link" asp-action="Uplvl" asp-controller="Home">Стать поставщиком</a>
                        </li>
                        <li class="nav-item" style="
">
                            <form asp-action="LogOff" asp-controller="Account">
                            <button class="nav-link btn btn-link text-dark">Выход</button>
                            </form>

                        </li>

                    </ul>

                </nav>
            </div>
            <div class="col-sm-8">
                <script language="javascript">
                    window.opener.location.reload();
                    self.close();
                </script>
                <table>

                    <tbody>
                        <tr>
                            <td rowspan="5">
                                <img src="https://html5css.ru/bootstrap4/sanfran.jpg" class="img-thumbnail" alt="Cinque Terre" style="width: 400px;">
                            </td>
                        </tr>

                        @foreach (var user in Model)
                        {
                            if (@User.Identity.Name == user.UserName)
                            {

                                <tr>
                                    <td>Имя : @user.Name</td>
                                </tr>
                                <tr>
                                    <td>Фамилия : @user.Famil</td>
                                </tr>
                                <tr>
                                    <td>Отчество : @user.Patronymic</td>
                                </tr>
                                <tr>
                                    <td>E-mail : @user.Email</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>


            </div>

        </div>

    </div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }

</body>
</html>
